body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  padding: 40px;
}

/* Content boxes */
.content {
  margin-top: 30px;
  padding: 20px;
  background: #1e293b;
  border-radius: 10px;
  display: none;
}

.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.panels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

/* VISUALIZATION PANELS */
.content-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.left-panel,
.right-panel {
  flex: 1;
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #eee; */
}

.left-panel h3 {
  margin: 0 0 10px 0;
}

.left-panel #map {
  flex: 1;
  z-index: 0;
}

/* FLAGS */
.flag-bar {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.country {
  padding: 8px 14px;
  background: #096668;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  border: 2px solid transparent;
  transition: 0.2s;
}

.country span {
  display: block;
  font-size: 10px;
  margin-top: 3px;
}

.country.active {
  background: #444;
  color: white;
  border-color: #444; 
  /* border-color: #222; */ /* makes the buttom look smaller */
  font-weight: bold;
}

/* TOP MENU SPLIT ROW */
.top-menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

/* TWO COLUMNS OF MENU ITEMS */
.menu-column {
  display: flex;
  gap: 10px;
}

/* INDIVIDUAL MENU BUTTONS */
.menu-item {
  padding: 14px 20px;
  /* border: 1px solid #ccc; */
  cursor: pointer;
  border-radius: 6px;
  background: #1e293b;
}

.menu-item:hover {
  background: #e7e7e7;
}

/* SELECTED STATE */
.menu-item.active {
  background: #007bff;
  color: white;
  border-color: #007bff;
}

/* MAIN CONTENT LAYOUT */
.content-row {
  display: flex;
  gap: 20px;
}

