
/* Clickable rectangles */
.item_left,
.item_right {
  padding: 14px 20px;
  background: #1e293b;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  border: 2px solid transparent;
}

.item_left:hover,
.item_right:hover {
  background: #334155;
}

.item_left.active,
.item_right.active {
  background: #3b82f6;
  border-color: #60a5fa;
  font-weight: bold;
}